body {
    font-family: 'Quicksand', sans-serif;
    /* background-color: 6f5050; */
    background-image: url(images/background.jpeg);
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#Auto {
    color: #fcf5a5;
}

h1,
h3 {
    font-family: 'Indie Flower', sans-serif;
    color: #fcf5a5;
    border-color: #ffffff;
    /* background-color: #8d478a; */
    /* background-color: E9D3D3; */
    background-color: 502c2c;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    border-radius: 12px;
}

h3 {
    font-weight: bolder;
}

p {
    font-size: 1.35em;
    font-weight: bold;
    text-align: justify;
}

.info {
    background-color: E9D3D3;
    /* background-color: rgba(70, 20, 28, 0.788); */
    padding: 8px;
    border-radius: 12px;
}

a {
    color: #530d50;
}
.container {
    background-color: rgba(70, 20, 28, 0.789);
    /* background-color: rgba(255, 251, 204, 0.7); */
    /* background-color: BC9E9E; */
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 100vh;
}
.btn {
    background-color: 502c2c;
    /* background-color: #8d478a; */
    font-family: 'Indie Flower', sans-serif;
    color: #fcf5a5;
    padding: 18px;
    font-size: 1.5em;
}

.btn:active {
    color: #530d50;
    font-weight: bolder;
    background-color: #fcf5a5;
}

.btn:focus {
    color: #530d50;
    font-weight: bolder;
    background-color: #fcf5a5;
}

.btn:hover {
    color: #530d50;
    font-weight: bolder;
    background-color: #fcf5a5;
}

img {
    border-radius: 5px 5px 5px 5px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #530d50;
    margin: 1em 0;
    padding: 0;
}
.portfolio-image {
    width: 50%;
    padding: 8px 12px;
}

.padded-row {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
}

#center {
    margin-bottom: 30px;
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1em;
}
