body {
    font-family: 'Quicksand', sans-serif;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    margin: 0;
    padding: 0;
}

h1,
h3 {
    font-family: 'Indie Flower', sans-serif;
    color: #fcf5a5;
    background-color: #8d478a;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    border-radius: 12px;
}

h3 {
    font-weight: bolder;
}

p {
    font-size: 1.35em;
    font-weight: bold;
    text-align: justify;
}

.info {
    background-color: rgba(204, 173, 216, 0.7);
    padding: 8px;
    border-radius: 12px;
}

a {
    color: #530d50;
}
.container {
    background-color: rgba(255, 251, 204, 0.7);
    margin-top: 0px;
    margin-bottom: 0px;
}
.btn {
    background-color: #8d478a;
    font-family: 'Indie Flower', sans-serif;
    color: #fcf5a5;
    padding: 10px;
}

img {
    border-radius: 5px 5px 5px 5px;
}
